* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
}

.nav {
    height: 60px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
    max-width: 1500px;
    margin: auto;
    top: 0;
    
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

@media (max-width:650px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(36vh - 50px);
        overflow-y: auto;

    }
}


.item1 {
    grid-area: header;
    border-bottom: 2px solid white
}

.item2 {
    grid-area: menu;
    border-bottom: 2px solid white
}

.item3 {
    grid-area: main;
    border-bottom: 2px solid white
}

.item4 {
    grid-area: right;
    border-bottom: 2px solid white
}

.item5 {
    grid-area: footer;
    border-bottom: 2px solid white
}

/*for mobile*/
[class*="grid-"] {
    display: column;
    background-color: #333;
}

/*for desktop*/
@media all and (min-width:1000px) {
    .grid-container  {
        display: grid;
        grid-template-areas:
            'header header header header header header'
            'menu main main main main right'
            'menu main main main main right'
            'menu main main main main right'
            'footer footer footer footer footer footer';

        gap: 10px;
        background-color: #333;
        padding: 10px;
        margin: auto;
        max-width: 1500px;
    }
}

/*for tablete*/
@media(min-width:650px) and (max-width:999px) {
    .grid-container {
        display: grid;
        grid-template-areas:
            'header header header header'
            'menu menu main main'
            'menu menu main main'
            'right right right right'
            'footer footer footer footer';
        gap: 10px;
        background-color: #333;
        padding: 10px;
        margin: auto;

    }
}


.grid-container>div {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    color: #fff;
}


[class*="grid-"] {
    display: column;
    background-color: #333;
}